<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
		  <link
      rel="stylesheet"
      href="https://at.alicdn.com/t/font_1594571_5oi8u1hs5fy.css"/>
    <title>台灣漫讀尾牙抽獎</title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but luckydraw doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
